<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show routes</title>
</head>
<body>
    <ul>
    <h3>listings details</h3>
    <li><%=listings.title%></li>
    <li><%=listings.description%></li>
    <li><%=listings.price%></li>
    <li><%=listings.country%></li>
    <li><%=listings.location%></li>
    
    
   





</ul>
</body>
</html>