<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show routes</title>
</head>
<body>
    <ul>
    <h3>listings details</h3>
    <li><%=listings.title%></li>
    <li><%=listings.description%></li>
    <li>  &#8377;<%=listings.price.toLocaleString("en-IN")%></li>
    <li><%=listings.location%></li>
    <li><%=listings.country%></li>
    <br>
    
    <a href="/listings/<%=listings._id%>/edit">Edit this info</a>
</ul>
</body>
</html>